language: java
addons:
  # see https://docs.travis-ci.com/user/sonarcloud/
  sonarcloud:
    organization: "viadee"
    # token is provided by the environment variable SONAR_TOKEN in travis settings
    token:
      secure: $SONAR_TOKEN
# the following command line builds the project, runs the tests with coverage and then executes the SonarCloud analysis.
# In case of external pull requests, no SONAR_SCANNER_HOME is defined, and SonarCloud analysis is not possible.
# (https://community.sonarsource.com/t/travis-plugin-is-failing-on-external-pull-request/807/3)
script: >-
  if [ "${SONAR_SCANNER_HOME}" != "" ]; then
    mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
  else
    mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package
  fi
